{% extends "base.twig" %}

{% block content %}

<section>
	<div class="row vm-xs-top-3">
		<div class="col-lg-6 vm-xs-bottom-3 text-xs-center">
			<div class="media-video small-media video-player-start" data-vimeoid="188887489">
				<div class="u-abs-fill u-bg-img" style="background-image: url('{{theme.link}}/assets/dist/img/KINGS.png');"></div>
				<div class="play-btn"></div>
			</div>
			<h6 class="vm-xs-top-1 vm-xs-bottom-2 vm-lg-bottom-0 text-uppercase">Ben &amp; Victoria King</h6>
		</div>
		<div class="col-lg-6 vm-xs-bottom-3 text-xs-center">
			<div class="media-video small-media video-player-start" data-vimeoid="188890414">
				<div class="u-abs-fill u-bg-img" style="background-image: url('{{theme.link}}/assets/dist/img/TOMLINSONS.png');"></div>
				<div class="play-btn"></div>
			</div>
			<h6 class="vm-xs-top-1 vm-xs-bottom-2 vm-lg-bottom-0 text-uppercase">Erik &amp; Ashley Tomlinson</h6>
		</div>
		<div class="col-lg-6 vm-xs-bottom-3 text-xs-center">
			<div class="media-video small-media video-player-start" data-vimeoid="188895829">
				<div class="u-abs-fill u-bg-img" style="background-image: url('{{theme.link}}/assets/dist/img/WOODWARDS.png');"></div>
				<div class="play-btn"></div>
			</div>
			<h6 class="vm-xs-top-1 vm-xs-bottom-2 vm-lg-bottom-0 text-uppercase">Allan &amp; Jessica Woodward</h6>
		</div>
		<div class="col-lg-6 vm-xs-bottom-3 text-xs-center">
			<div class="media-video small-media video-player-start" data-vimeoid="188904335">
				<div class="u-abs-fill u-bg-img" style="background-image: url('{{theme.link}}/assets/dist/img/HIGHSMITHS.png');"></div>
				<div class="play-btn"></div>
			</div>
			<h6 class="vm-xs-top-1 vm-xs-bottom-2 vm-lg-bottom-0 text-uppercase">Terry &amp; Michelle Highsmith</h6>
		</div>
	</div>
	<div class="row vm-xs-top-3 vm-xs-bottom-1 vm-lg-bottom-3">
		<div class="col-lg-6 text-xs-center">
			<div class="card vp-xs-top-2 vp-xs-bottom-2">
				<h6 class="vm-xs-bottom-2 text-uppercase">Brochure</h6>
				<ul>
					<li><a href="{{theme.link}}/assets/src/img/brochure.pdf" target="_blank">Download Link</a> (PDF)</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-6 text-xs-center">
			<div class="card vp-xs-top-2 vp-xs-bottom-2">
				<h6 class="vm-xs-bottom-2 text-uppercase">Generosity Toolbox</h6>
				<ul>
					<li><a href="{{theme.link}}/assets/src/img/toolbox.pdf" target="_blank">Download Link</a> (PDF)</li>
				</ul>
			</div>
		</div>
	</div>
</section>

{% endblock %}
